 * {margin:0; padding: 0; color:red;}
  #index{
    position: absolute;
    font-size: 65px;
    top: 10vw;
    right: 50vw;
    overflow: hidden;
}

#dexy{
    position: absolute;
    font-size: 65px;
    top: 20vw;
    right: 50vw;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
  }